@model StockProject.Models.Entity.tblpersoneller
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post))
{
    <h2>Personel Güncelleme</h2>
    @Html.HiddenFor(x => x.id, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.soyad, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.departman, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Güncelle</button>
}


